.navbar{width:100%;min-height:25px !important;background-color:#444;border:0px solid #e7e7e7;}
.navbar-left{position:relative;float:left;}
.navbar-right{left:-20px;position:relative;float:right;}

.navbar-header a:link      {color:#FFE;}
.navbar-header a:visited   {color:#FFE;}
.navbar-header a:hover     {color:#CCC;}
.navbar-header a:active    {color:#CCC;}
.dropdown a:link           {color:#FFF;}
.dropdown a:visited        {color:#FFF;}
.dropdown a:focus          {color:#333;}
.dropdown a:hover          {color:#333;}
.dropdown a:active         {color:#333;}
.dropdown-menu li a:link   {color:#333;}
.dropdown-menu li a:visited{color:#333;}
.dropdown-menu li a:hover  {color:#333;}
.dropdown-menu li a:active {color:#333;} 



.btn-image:hover{opacity: .9}
.btn-image{opacity: .8; width:30px; height:30px;background-position:-1px -1px;}

/*OVERRIDING BOOTSTRAP CSS DEFAULTS*/
.btn-primary{background-color:#444 !important;border:0px solid #e7e7e7 !important;}
.btn-primary:hover{background-color:#333 !important;border:0px solid #e7e7e7 !important;}
/*END OF OVERRIDING*/


#solutions{position:relative; left:15px; top:0px; width:98%}
#solutions tr th{background-color:#F5F5F5;}


.graph{
	width:1200px;
	font-family: Overpass,Helvetica,helvetica,arial,sans-serif;
  font-size: 1.2222222222em;
}
/*	background-color:#EEEEEE;*/
.graph_header{
  width: 100%;
	background-image: url("../images/graph_header.png");
}
.graph_header_main{
	height: 60px;
	padding: 20px;
	color: #cc0000;
	font-weight: 400;
	font-size: 24pt;
	text-align: left;
}
.graph_header_sub{
	height: 50px;
	padding: 20px;
	color: #666666;
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
}